
$primary_background: #f9f9ff;
$primary_border: 1px solid #e7e7e7;
$primary_blue_border: 1px solid #e2e2ff;
$primary_border_grey: 1px solid #d8d8d8;

$primary_blue: #3e65ff;
$primary_red:  #ffa1a1;
$primary_light_blue: #1673e614;
$primary_darkblue: #123de6;

$primary_shadow: 1px 1px 9px #a1bfff;
$width_adjust: 85%;
$padding_adjust: 8%;
