@import "../../css_app/variables.scss";

/* sidebar all */

.orders_incoming_sidebar::-webkit-scrollbar , .reservation_incoming_sidebar::-webkit-scrollbar {
  width: 10px;
}

.orders_incoming_sidebar::-webkit-scrollbar-track , .reservation_incoming_sidebar::-webkit-scrollbar-track { background: white }
.orders_incoming_sidebar::-webkit-scrollbar-thumb , .reservation_incoming_sidebar::-webkit-scrollbar-thumb {
    background: #eae8e8; border: 0px; cursor: pointer;
}

.app_sidebar_notifications {
        .incoming_dropdowns {
            padding: 15px 0;
            > div > div { margin-left: 0; }
        }

        #sidebar_navigation {
            display: flex; flex-direction: row;  width: 100%;

           .sidebar_toggle_btn {
                display: flex; align-items: center; justify-content: center;
                margin-right: 15px; background: $primary_darkblue; border-radius: 4px;
                p { padding: 5px 11px; color: white; }
           }
           .sidebar_nav_ul     {
                display: flex;  width: 100%;
                box-shadow: 4px 3px 0px 0px #000000; border: 1px solid black;
                margin: 0 auto; border-right: 1px solid black;
               > li         { text-align: center; flex: 0 0 50%; padding: 7px 10px; font-size: 0.7em; font-weight: 600;
                              cursor: pointer; border-right: 1px solid black;
                            }
            }
        }
        .incoming_empty {
             p { width: 100%; background: $primary_light_blue; text-align: center; padding: 15px 10px;
                font-size: 0.68em; position: relative;
              }

             p:after {
               content: " "; position: absolute; right: 60px;  bottom: -15px;
               border-top: 15px solid $primary_light_blue;  border-right: 15px solid transparent;
               border-left: 15px solid transparent; border-bottom: none;
             }

            div {
               width: 100%; height: auto; padding-top: 10px;
               img { width: 100%; height: auto; }
            }

        }
}

/* sidebar orders / reservations */

.orders_incoming_sidebar , .reservation_incoming_sidebar {
       margin-top: 10px; overflow-y: scroll; height: 100%;  margin-bottom: 80px;
      > ul { width: 100%; display: block; margin: 0 auto;  }
}


/* sidebar statistics & fullpage */

.sidebar_statistics {
    padding: 10px 0; margin-top: 10px;
    section {
        max-width: 100%; width: 100%; position: relative; margin: 10px 0; text-align: center;
        border: 1px solid black; box-shadow: 4px 3px 0px 0px #000000; height: auto; padding: 15px 10px;
        h3  {  font-size: 0.7em; }
        span { font-size: 0.8em; }
    }

    div.statistics_more_btn {
        background: $primary_darkblue; margin: 15px 0; font-size: 0.65em; text-align: center;
        padding: 13px 12px; border-radius: 4px; color: white;
        box-shadow: 5px 5px 0px #a4ccff; cursor: pointer;
    }
}

.statistics_fullPage {
    height: 100%; background: white; overflow-y: scroll; display: flex; flex-direction: column;

    .statistics_tile { display: flex; flex-direction: row; align-items: center;
                       width: 100%; min-height: 55px; background: white; box-shadow: 0px 6px 18px 0px #f8f8f8;

           > div { width: 100%; height: 100%; display: flex; align-items: center; padding: 0 20px; }
           .filter_by_date { width: auto; white-space: nowrap; margin-right: 10px; }

        ul { box-shadow: 4px 3px 0px 0px #000000; border: 1px solid black; }
        ul > li { display: inline-block; padding: 5px 10px; border-right: 1px solid black; font-size: 0.66em; }
        ul > li:last-child { border: none; }

    }
    .statistics_body { width: 100%; height: 100%; padding: 20px;
        .span_blue { font-size: 0.67em; }
        #stat_topOrders { float: right; width: 40%;
            padding: 0 10px;
            h3.title { padding-left: 20px; }
        }
        #stat_graph   { float: left; width: 60%; overflow: hidden; padding: 20px; box-shadow: 2px 0px 7px #d9d9d980;
                        border-radius: 6px;
            h3 { padding-bottom: 15px; }
            > canvas  { width: 100% !important;  }
        }
    }
}



//
